<div id="large">
  <div class="group">
    <img
      src="{{ baseURL + 'assets/images/large/' + template?.image }}"
      alt="LargeImage"
      width="430"
      height="360"
    />
    <div class="details">
      <p><strong>Title</strong> {{ template?.title }}</p>
      <p><strong>Description</strong> {{ template?.description }}</p>
      <p><strong>Cost</strong> {{ template?.cost }}</p>
      <p><strong>ID #</strong> {{ template?.id }}</p>
      <p><strong>Thumbnail File</strong> {{ template?.thumbnail }}</p>
      <p><strong>Large Image File</strong> {{ template?.image }}</p>
    </div>
  </div>
</div>
